# Debugging Assignment — Employee Attrition Prediction (BROKEN VERSION)

This notebook contains an **intentionally broken** machine learning pipeline for predicting employee attrition.

Your task (as a candidate) will be to:
- Identify the issues
- Fix them
- Retrain and properly evaluate the model

> ⚠️ Note: This version is deliberately incorrect. Do **not** use it as a template in production.

In [ ]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, roc_auc_score

# Load dataset
df = pd.read_csv("debug_dataset.csv")
df.head()

,age,gender,education,department,job_role,monthly_income,years_at_company,promotions,overtime,performance_rating,attrition
0,50,Female,Post-Graduate,IT,Lead,102565,9,0,No,1,0
1,36,Female,PhD,Sales,Lead,49402,2,0,Yes,2,0
2,29,Female,Graduate,HR,Executive,24263,7,1,No,1,0
3,42,Male,Graduate,HR,Executive,116523,7,3,Yes,4,0
4,40,Female,PhD,HR,Manager,66828,1,1,Yes,3,0

In [2]:

# Basic info
print(df.shape)
print(df.dtypes)
df.describe()

(300, 11)
age                    int64
gender                object
education             object
department            object
job_role              object
monthly_income         int64
years_at_company       int64
promotions             int64
overtime              object
performance_rating     int64
attrition              int64
dtype: object

,age,monthly_income,years_at_company,promotions,performance_rating,attrition
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,41.186667,69834.483333,7.243333,2.073333,2.500000,0.230000
std,11.275739,28201.559946,4.454616,1.421745,1.172426,0.421536
min,22.000000,20060.000000,0.000000,0.000000,1.000000,0.000000
25%,30.000000,46111.750000,3.000000,1.000000,1.000000,0.000000
50%,43.000000,69012.000000,8.000000,2.000000,2.500000,0.000000
75%,51.000000,94733.000000,11.000000,3.000000,4.000000,0.000000
max,59.000000,119804.000000,14.000000,4.000000,4.000000,1.000000

In [ ]:

            # --- Feature Engineering (BROKEN ON PURPOSE) ---

# 1) Create a feature that directly uses the target (leakage disguised as a helper feature)

            df["attrition_copy"] = df["attrition"]  # <-- target copied into features


# 2) Use 'target_leakage_feature' as-is assuming it's a good predictor

            # (We don't check how this was created.)


# 3) Fill all missing values with 0 without analysis

            df = df.fillna(0)

            df.head()

In [ ]:

            # --- Create features/target (order BROKEN) ---

X = df.drop("attrition", axis=1)

            y = df["attrition"]


# Scale ALL data before splitting (data leakage)

            scaler = StandardScaler()

            X_scaled = scaler.fit_transform(X)


# Split AFTER scaling (this uses information from the full dataset)

            X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2)

In [ ]:

            # --- Train RandomForest with almost no control ---

model = RandomForestClassifier(n_estimators=500)

            model.fit(X_train, y_train)


# Evaluate using Accuracy only

            y_pred = model.predict(X_test)

            acc = accuracy_score(y_test, y_pred)

            print("Test Accuracy:", acc)


print("\nClassification Report:")

            print(classification_report(y_test, y_pred))

In [ ]:

            # --- Misused cross-validation (BROKEN) ---

# Run cross-validation only on the TEST set (incorrect!)

            cv_scores = cross_val_score(model, X_test, y_test, cv=5)

            print("Cross-validation scores on test set:", cv_scores)

            print("Mean CV score:", cv_scores.mean())


## ✅ Final Conclusion (INCORRECT)

The model achieves **very high accuracy** and therefore is ready to be used in production for predicting employee attrition.

No further validation or checks are required.